@model GestiuneBileteAvion.Models.Client

@{
    ViewBag.Title = "Adaugare Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adaugare Client</h2>

@using (Html.BeginForm("Creare", "Client"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Nume)
        @Html.TextBoxFor(m => m.Nume, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Prenume)
        @Html.TextBoxFor(m => m.Prenume, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cnp)
        @Html.TextBoxFor(m => m.Cnp, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Adresa)
        @Html.TextBoxFor(m => m.Adresa, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TipClient)
        @Html.DropDownListFor(m => m.TipClient, new List<SelectListItem>
        {
            new SelectListItem { Text = "Adult" },
            new SelectListItem { Text = "Copil" },
            new SelectListItem { Text = "Pensionar" }
        } ,new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Adauga</button>
}