@model IEnumerable<GestiuneBileteAvion.Models.Client>
@{
    ViewBag.Title = "Clienti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clienti</h2>

@if (!Model.Any())
{
    <p>Nu exista nici un client.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nume</th>
            <th>Prenume</th>
            <th>CNP</th>
            <th>Adresa</th>
            <th>Tip Client</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Nume</td>
                <td>@client.Prenume</td>
                <td>@client.Cnp</td>
                <td>@client.Adresa</td>
                <td>@client.TipClient</td>
            </tr>
        }
        </tbody>
    </table>

    <p>
        @Html.ActionLink("Adauga Client", "ClientNou", "Client", null, new { @class = "btn btn-primary" })
    </p>
}