@model GestiuneBileteAvion.Models.Bilet

@{
    ViewBag.Title = "Adaugare Bilet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adaugare Bilet</h2>

@using (Html.BeginForm("Creare", "Bilet"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.LoculPlecarii)
        @Html.TextBoxFor(m => m.LoculPlecarii, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoculPlecarii, "Va rugam adaugati statia de plecare")
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LoculSosirii)
        @Html.TextBoxFor(m => m.LoculSosirii, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoculPlecarii, "Va rugam adaugati statia de sosire")
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DataPlecarii)
        @Html.TextBoxFor(m => m.DataPlecarii, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.LoculPlecarii, "Va rugam adaugati data calatoriei")
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Pret)
        @Html.TextBoxFor(m => m.Pret, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoculPlecarii, "Va rugam adaugati pretul biletului")
    </div>

    <button type="submit" class="btn btn-primary">Adauga</button>
}